$red: #CF2E3B;
$pink: #FF80AB;

body {
  background:  $pink;
}

#heart {
  position: relative;
  width: 120px;
  height: 90px;
  margin: 175px auto;
  animation: pulse 1.5s ease-out;
  animation-iteration-count: infinite;
  
  &:before, &:after {
    position: absolute;
    content: "";
    left: 60px;
    top: 0;
    border-top: 10px $red solid;
    width: 60px;
    height: 80px;
    background: $red;
    border-radius: 50px 50px 0 0;
    transform: rotate(-45deg);
    transform-origin: 0 100%;
  }
  
  &:after {
    left: 0;
    transform: rotate(45deg);
    transform-origin: 100% 100%;
  }
  
  &:before {
    border-top: 10px lighten($red, 15%) solid;
  }
}

@keyframes pulse {
  0% {transform: scale(2); }
  25% {transform: scale(1.9); }
  50% {transform: scale(2.1); }  
  75% {transform: scale(2); }
  100% {transform: scale(2); }
}

p {
  text-align:center;
  color: white;
  font-size: 18px;
  text-transform:uppercase;
}

img {
display: block;
margin-left: auto;
margin-right: auto 
}








